<div class="card">
<div class="card-content">  
  <b>Notes:&nbsp;&nbsp;</b><br />
    <% @investigation.investigation_notes.each do |note| %> 
      <div class="card yellow lighten-4">
		<div class="card-content">  
	      <p class="note"><%= note.date.strftime("%m/%d/%y") %></p><br>
	      <p><%= note.content %></p><br>
	      <p class="note">--<%= note.officer.proper_name %></p><br>
		</div>
	  </div>
    <% end %>
    <br /><%= link_to "Add a new Note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: @officer.id) %>
  <br /><br />
</div>
</div>