
<div class="card">
  <div class="card-content"> 
    <h4>Crime Overview</h4>
	<table >
	    <thead>
	        <tr>
	            <th></th>
	            <th>This year</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<% for crime in @crimes %>
	        <tr>
	            <th><%= crime.name %></th>
	            <td><%= crime.crime_investigations.count %></td>
	        </tr>
	        <% end %>
	    </tbody>
	</table>
  </div>
</div>

