<div class="card">
<div class="card-content" id="sidebar">  
  <h5>Recent Notes:&nbsp;&nbsp;</h5><br />
    <% @recent_notes.each do |note| %>
    <!--% for note in @recent_notes %--> 
      <div class="card yellow lighten-4">
		<div class="card-content">  
	      <p class="note"><%= note.date.strftime("%m/%d/%y") %></p><br>
	      <p><%= note.content %></p><br>
	      <p class="note">--<%= note.officer.proper_name %></p><br>
		</div>
	  </div>
    <% end %>
</div>
</div>