<div class="card">
  <div class="card-content"> 
    <h5>Unassigned Officers:</h5>
	<% if @unassigned_officers.empty? %>
	  <p>There are no unassigned officers</p>
	<% else %>
	  <table class="striped highlight">
	    <thead>
	      <th>Officer</th>
	      <th>Rank</th>
	      <th>Add Assignment</th>
	    </thead>
	    <% for officer in @unassigned_officers %>
	      <tr>
	        <td><%= link_to officer.name, officer_path(officer) %></td>
	        <td><%= officer.rank %></td>
	        <td class="align_center">
	        <% if can? :new, Assignment %>
		        <%= link_to "Add ", new_assignment_path(officer_id: officer.id) %>
		    <% end %>
			</td>
	      </tr>
	    <% end %>
	  </table>
    <% end %>
  </div>
</div>