
<div class="card">
  <div class="card-content"> 
    <h4>Unit Overview</h4>
	<table >
	    <thead>
	        <tr>
	            <th></th>
	            <th>Open Cases</th>
	            <th>Closed Cases</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<% for unit in @units %>
	        <tr>
	            <th><%= unit.name %></th>
	            <td><%= unit.officers.active.count %></td>
	            <td><%= unit.officers.inactive.count %></td>
	        </tr>
	        <% end %>
	    </tbody>
	</table>
  </div>
</div>